footer{
    height: 7dvh;
    background-color: #710005;
    border-top: 1px solid rgba(255, 255, 255, 0.266);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Poppins;
    color: white;
}